.axis text {
  font: 12px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
/*  stroke: #000;*/
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.task {
    margin: 0px;
    padding: 0px;
}

.done {
}

.todo {
}
